@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 16px;
    }

    body {
        font-family: 'Barlow Condensed', serif;
        background: #1d1d1d;
        color: #fff;
        min-height: 100%;
    }

}
a.active {
    border-bottom: 2px solid #ffffff;
    pointer-events: none;
}

@layer components {
    .mobile {
        @apply absolute z-20 sm:hidden flex justify-between w-full bg-white-rgba h-[100vh] py-10 pl-10 pr-5 backdrop-blur-2xl transition-all duration-300;
    }
}
